*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(315deg, #4cc3f1 6%, #97bced 75% );
}

.algo {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 50%;
    height: auto;
    padding: 20px 25px;
    margin: 40px 30px;
    color: #fff;
    text-align: center;
    font-size: 30px;

}
.primera {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 50%;
    height: auto;
    padding: 20px 25px;
    margin: 40px 30px;
    color: #fff;
    text-align: center;
    font-size: 30px;
}
